
/* Top of website along with changes due to media size */

@font-face {
	src: url(./fonts/CherryCreamSoda-Regular.ttf);
	font-family: CCS;
}

@font-face {
	src: url(./fonts/OpenSans/OpenSans-Bold.ttf);
	font-family: OS-Bold;
}

body, html {
	margin: 0;
}

#topFrame {
	background-color: darkblue;
	position: relative;
	padding-top: 2rem;
	font-family: CCS;
}

#topBackdrop {
	margin: 0 2rem;
	height: 60rem;
	position: relative;
	background-image: url("../image/sherpaClimber.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;  
}

#headingText {
	position: absolute;
	margin: 2rem auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 34rem;
	height: 4rem;
	background-color: rgba(176, 196, 222, 0.8);
	border-radius: 2rem;
	border: 0.4rem solid darkblue;	
}

#textBack {
	margin: 0.8rem 1.8rem;
	font-size: 2rem;
	color: darkblue;
	text-align: center;
}

#messageBox {
	position: absolute;
	width: 18rem;
	height: 21.6rem;
	top: 16rem;
	left: 10vw;
	background-color: rgba(176, 196, 222, 0.8);
	border-radius: 2rem;
	border: 0.4rem solid darkblue;
	opacity: 0;
	animation-name: messageBoard;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	animation-timing-function: ease-in;
}

@keyframes messageBoard {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.messageText {
	margin: 0.2rem 0;
	padding: 0 1rem;
	font-size: 2rem;
	color: darkblue;
	text-align: center;
}

.topFrameSvg {
	position: absolute;
	bottom: 0;
}

/* changes due to different screen sizes */

@media screen and (max-width: 640px) {
	#topBackdrop {	
	background-image: url("../image/sherpaClimberShifted.png");	
	}
	#topBackdrop {
		height: 65rem;
	}	
	#headingText {
		width: 20rem;
		height: 6.8rem;
	}
}

@media screen and (max-width: 460px) {
	#headingText {
		width: 12rem;
		height: 11.6rem;
	}

	#messageBox {
		margin: 16rem auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 12rem;
		height: 37rem;
	}	
}

